body {

background: #050510;
color: #00ffee;
font-family: monospace;
margin: 0;

}

#topbar {

display: flex;
justify-content: space-between;
padding: 10px 20px;
background: #111;
border-bottom: 1px solid #00ffee;

}

#desktop {

padding: 30px;

}

h1,h2 {

color: #00ffee;

}

#projects ul {

list-style: none;
padding: 0;

}

#projects li {

padding: 8px;
border-bottom: 1px solid #222;

}

#dev-console {

position: fixed;
bottom: 0;
left: 0;
right: 0;

background: black;
color: #00ff88;

height: 200px;
display: none;

padding: 10px;

border-top: 2px solid #00ffee;

overflow-y: auto;

}